* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #1a1a2e;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    text-align: center;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-size: 2.8em;
    color: #ecf0f1;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 8px;
    background-color: #0f3460;
    border: 10px solid #16213e;
    border-radius: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: rotate(-5deg);
}

.container {
    margin-top: 9vh;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box {
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 1px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 9px 0px rgba(0, 255, 255, 0.7);
    font-size: 8vmin;
    color: #ffffff;
    background: #2c2c2c;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.text {
    text-shadow: 1px 1px 5px rgba(0, 255, 255, 0.7);
}

.box:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}

#reset-btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 6rem;
    font-size: 1.2rem;
    background-color: #e94560;
    background-image: linear-gradient(to left, red, rgb(154, 28, 28));
    color: #ffffff;
    border-radius: 1rem;
    font-weight: bold;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#reset-btn:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px 0px yellow;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #0f3460;
    background-image: linear-gradient(to right, #0f3460, lightblue);
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#new-btn:hover {
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px 0px rgb(255, 255, 107);
}

#msg {
    color: #eada00;
    font-size: 13vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8rem;
}

.hide {
    display: none;
}

#button {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0f3460;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#button:hover {
    background-color: #e94560;
    color: white;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }
    .name {
        font-size: 1.5rem;
    }
    button{
        font-size: 0.8rem;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    button,
    #reset-btn,
    #new-btn {
        font-size: 0.8rem;
        padding: 10px 0;
    }
}